@model DAL.Entidades.Plano
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Plano</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayName("Nome Plano")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Plano)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Valor R$")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor_Plano)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Data Cadastro Plano")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Cadastro_Plano)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Quantidade Máxima Dispositivos")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qtde_Max_Dispositivos_Plano)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Voltar</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id_Plano" class="btn btn-info">Editar</a>
</div>
