@model DAL.Entidades.Usuario

@{
    ViewData["Title"] = "Apagar Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apagar Usuário</h2>

<h3>Deseja realmente excluir este usuário?</h3>
<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayName("Nome Usuário")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Usuario)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Data Cadastro")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Cadastro_Usuario)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("CPF")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPF_Usuario)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Cartão")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cartao_Usuario)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("CEP")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEP_Usuario)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Usuario" />
        <a asp-action="Index" class="btn btn-success">Voltar</a> |
        <input type="submit" value="Apagar" class="btn btn-danger" />
    </form>
</div>
