@model DAL.Entidades.Usuario

@{
    ViewData["Title"] = "Detalhes Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes Usuário</h2>

<div>
    <hr />
    <dl >
        <dt>
            @Html.DisplayName("Nome Usuário")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Usuario)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Data Cadastro")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Cadastro_Usuario)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("CPF")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPF_Usuario)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Cartão")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cartao_Usuario)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("CEP")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEP_Usuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Voltar</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id_Usuario" class="btn btn-info">Editar</a> 
</div>
