@model DAL.Entidades.Dispositivo

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes Dispositivo</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayName("Nome Dispositivo")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Dispositivo)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Data Cadastro")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Cadastro_Dispositivo)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Status Dispositivo")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status_Dispositivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Voltar</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id_Dispositivo" class="btn btn-info">Editar</a>

</div>
