@model ProjetoCloud.Models.Dispositivo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dispositivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Dispositivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Dispositivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data_Cadastro_Dispositivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Cadastro_Dispositivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status_Dispositivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status_Dispositivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Dispositivo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
