@page
@model RegisterModel
@{
    ViewData["Title"] = "Cadastro Usuário";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h4>Cadastrar uma nova conta.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <b>@Html.DisplayName("Nome")</b>
            <input asp-for="Input.Nome_Usuario" class="form-control text-center" />
            <span asp-validation-for="Input.Nome_Usuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <b>@Html.DisplayName("Senha")</b>
            <input asp-for="Input.Password" class="form-control text-center" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <b>@Html.DisplayName("Confirmação Senha")</b>
            <input asp-for="Input.ConfirmPassword" class="form-control text-center" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <b>@Html.DisplayName("E-mail")</b>
            <input asp-for="Input.Email" class="form-control text-center" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <b>@Html.DisplayName("CPF")</b>
            <input asp-for="Input.CPF_Usuario" class="form-control text-center" />
            <span asp-validation-for="Input.CPF_Usuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <b>@Html.DisplayName("Número Cartão")</b>
            <input asp-for="Input.Cartao_Usuario" class="form-control text-center" />
            <span asp-validation-for="Input.Cartao_Usuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <b>@Html.DisplayName("CEP")</b>
            <input asp-for="Input.CEP_Usuario" class="form-control text-center" />
            <span asp-validation-for="Input.CEP_Usuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <b>@Html.DisplayName("Código Administrador")</b>
            <input asp-for="Input.CodigoAdministrador" class="form-control text-center" />
            <span asp-validation-for="Input.CodigoAdministrador" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
