@model DAL.Entidades.Ambiente

@{
    ViewData["Title"] = "Detalhes Ambiente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes Ambiente</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayName("Nome Ambiente")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Ambiente)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Data Cadastro")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Cadastro_Ambiente)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Quantidade Dispositivos")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qtda_Dispositivo_Ambiente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Voltar</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id_Ambiente" class="btn btn-info">Editar</a> 
</div>
