@model IEnumerable<DAL.Entidades.Ambiente>

@{
    ViewData["Title"] = "Ambientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ambientes</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                <b>@Html.DisplayName("Nome Ambiente")</b>
            </th>
            <th class="text-center">
                <b>@Html.DisplayName("Data Cadastro")</b>

            </th>
            <th class="text-center">
                <b>@Html.DisplayName("Quantidade Dispositivos")</b>
            </th>
            <th class="text-center">
                <b>@Html.DisplayName("Usuário do ambiente")</b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Nome_Ambiente)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Data_Cadastro_Ambiente)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Qtda_Dispositivo_Ambiente)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Usuario.Nome_Usuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Ambiente">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Ambiente">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Ambiente">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-info">Cadastrar Ambiente</a>
</p>